<div class="">
  <div class="p-3">
    <h2 class="text-center">Parent Information</h2>
    <h4>Name : <%= currentUser.name %></h4>
    <h4>Key : <%= currentUser.key %></h4>
    <h4>Nationality : <%= currentUser.nationality %></h4>
  </div>
  <hr />
  <div class="p-3">
    <h2 class="text-center">Student Information</h2>
    <h4>Name: <%= sonData.user.name %></h4>
    <h4>Id: <%= sonData.user.id %></h4>
    <h4>level: <%= sonData.level %></h4>
    <h4>GPAS: <%= sonData.gpas %></h4>
  </div>
  <hr />
  <h2>Result:</h2>
  <!-- table -->
  <table
    class="table table-bordered border-dark"
    style="font-size: larger; font-weight: bold"
  >
    <thead style="font-size: larger; font-weight: bold">
      <tr>
        <th>CourseName</th>
        <th>Quiz1</th>
        <th>Midterm</th>
        <th>Quiz2</th>
        <th>Attendance</th>
        <th>Assignment</th>
        <th>Practical</th>
        <th>Final</th>
        <th>Total Markes</th>
        <!-- <th>pass</th> -->
      </tr>
    </thead>
    <tbody style="font-size: large; font-weight: bold">
      <% sonResult.forEach((result) => { %>
      <tr>
        <td><%= result.courseName %></td>
        <th><%= result.quiz1 %></th>
        <th><%= result.midTerm %></th>
        <th><%= result.quiz2 %></th>
        <th><%= result.attendance %></th>
        <th><%= result.assignment %></th>
        <th><%= result.practical %></th>
        <th><%= result.final %></th>
        <td><%= result.total %></td>
        <!-- <td><%= result.pass %></td> -->
      </tr>
      <% }) %>
    </tbody>
  </table>
  <!-- table -->
</div>
