<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="mt-5">
      <h1 class="display-3">Profile</h1>
      <table class="table border border-2" style="font-weight: bold; font-size:larger">
        <thead  style="font-weight: bold; font-size:larger">
          <tr>
            <th scope="col">Basic</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody  style="font-weight: bold; font-size:larger">
          <tr>
            <td>Name</td>
            <td><%= studentData.name %></td>
          </tr>

          <tr>
            <td>id</td>
            <td><%= studentData.id %></td>
          </tr>
          <tr>
            <td>section</td>
            <td>Inf sys & com science</td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= studentData.email %></td>
          </tr>
          <tr>
            <td>Create At</td>
            <td><%= studentData.createdAt %></td>
          </tr>
          <tr>
            <td>Level</td>
            <td><%= studentData.csisStudents[0].level %></td>
          </tr>
          <tr>
            <td>Nationality</td>
            <td><%= studentData.csisStudents[0].nationality %></td>
          </tr>
          <tr>
            <td>Academic Advisor</td>
            <td><%= getAcadmicAdvisorInfo.name %></td>
          </tr>
          <tr>
            <td>Register Houres</td>
            <td></td>
          </tr>
          <tr>
            <td>GPA</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</div>
