<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1 class="display-3">Result</h1>

    <table
      class="table table-bordered border-dark"
      style="font-weight: bold; font-size: larger"
    >
      <thead style="font-weight: bold; font-size: larger">
        <tr>
          <th>CourseName</th>
          <th>Quiz1</th>
          <th>Midterm</th>
          <th>Quiz2</th>
          <th>Attendance</th>
          <th>Final</th>
          <th>Total Markes</th>
          <!-- <th>pass</th> -->
        </tr>
      </thead>
      <tbody style="font-weight: bold; font-size: large">
        <% studentResult.forEach((result) => { %>
        <tr>
          <td><%= result.courseName %></td>
          <th><%= result.quiz1 %></th>
          <th><%= result.midTerm %></th>
          <th><%= result.quiz2 %></th>
          <th><%= result.attendance %></th>
          <th><%= result.final %></th>
          <td><%= result.total %></td>
          <!-- <td><%= result.pass %></td> -->
        </tr>
        <% }) %>
      </tbody>
    </table>
    <h3>GPAS: <%= gpasAccurated %></h3>

    <!-- /#page-content-wrapper -->
  </div>
</div>
