<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1>Result</h1>

    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <th>courseName</th>
          <th>quiz1</th>
          <th>midterm</th>
          <th>quez2</th>
          <th>attendance</th>
          <th>final</th>
          <th>total degrees</th>
        </tr>
      </thead>
      <tbody>
        <% studentResult.forEach((result) => { %>
        <tr>
          <td><%= result.courseName %></td>
          <th><%= result.quiz1 %></th>
          <th><%= result.midTerm %></th>
          <th><%= result.quiz2 %></th>
          <th><%= result.attendance %></th>
          <th><%= result.final %></th>
          <td><%= result.total %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <!-- /#page-content-wrapper -->
  </div>
</div>
