<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="mt-5">
      <h1>Profile</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Basic</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td><%= dataOfInstructor.name %></td>
          </tr>

          <tr>
            <td>id</td>
            <td><%= dataOfInstructor.id %></td>
          </tr>
          <tr>
            <td>college</td>
            <td><%= dataOfInstructor.instructors[0].college %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= dataOfInstructor.email %></td>
          </tr>
          <tr>
            <td>Create At</td>
            <td><%= dataOfInstructor.createdAt %></td>
          </tr>
          <tr>
            <td>Nationality</td>
            <td><%= dataOfInstructor.instructors[0].nationality %></td>
          </tr>
          <tr>
            <td>permission</td>
            <td><%= dataOfInstructor.permission %></td>
          </tr>
          <tr>
            <td>matrial</td>
            <td><%= dataOfInstructor.instructors[0].courseName %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</div>
