<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>o6u | <%= title %></title>
    <!-- css -->
    <%- include('../../bootstrab/syles.ejs') %>
  </head>
  <body>
    <header><%- include('../layout/navbar.ejs') %></header>
    <main class="container mb-5 mt-5" style="width: 100%">
      <img
        src="/images/tuitionFees.jpg"
        alt="TuitionFees"
        style="width: 100%; border-radius: 10px; object-fit: cover"
      />
    </main>
    <%- include('../layout/footer.ejs') %>
    <!-- js -->
    <%- include('../../bootstrab/js.ejs') %>
  </body>
</html>
