<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="style.css" />

    <!--<title>Dashboard Sidebar Menu</title>-->
    <title>o6u</title>
    <!-- css -->
    <%- include('../../../bootstrab/syles.ejs') %>
  </head>
  <body>
    <header><%- include('../../layout/navbar.ejs') %></header>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Page Content -->
      <!-- matrials data -->
      <main class="container pt-5">
        <table
          class="table table-bordered border-dark"
        
        >
          <thead class="table table-dark" style="font-size: large">
            <tr>
              <th>CourseName</th>
              <th>Code</th>
              <th>Level</th>
              <th>Hours</th>
              <th>Semester</th>
              <th>Total Markes</th>
              <th>prerequisites</th>
            </tr>
          </thead>
          <tbody style="font-size: small">
            <% matrialData.forEach(function(course) { %>
            <tr>
              <th><%= course.materialName %></th>
              <th><%= course.code %></th>
              <th><%= course.level %></th>
              <th><%= course.hours %></th>
              <th><%= course.semester %></th>
              <th><%= course.total %></th>
              <th><%= course.prerequisites %></th>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </main>
      <!-- matrials data -->
      <!-- /#wrapper -->

      <!-- Menu Toggle Script -->
      <script>
        let btn = document.getElementById("iconToggle");
        let sidebar = document.getElementById("wrapper");
        btn.addEventListener("click", () => {
          sidebar.classList.toggle("toggled");
        });
      </script>
    </div>
    <!-- js -->
    <%- include('../../../bootstrab/js.ejs') %>
  </body>
</html>
