<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="style.css" />

    <!--<title>Dashboard Sidebar Menu</title>-->
    <title>o6u</title>
    <!-- css -->
    <%- include('../../../bootstrab/syles.ejs') %>
  </head>
  <body>
    <header><%- include('../../layout/navbar.ejs') %></header>
    <div id="wrapper" class="toggled">
      <div class="iconToggle" id="iconToggle">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
      </div>
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-size: larger; font-weight: bold">
          <li class="sidebar-brand mt-4">
            <a href="#"> Dashboard </a>
          </li>
          <li>
            <a href="/user">Profile</a>
          </li>
          <li>
            <a href="/registeration">Pre Pregistration</a>
          </li>
          <li>
            <a href="/tables">Tables</a>
          </li>
          <li>
            <a href="/acadmic-records">Acadmic Records</a>
          </li>
          <li>
            <a href="/exams">Scheduling</a>
          </li>
          <li>
            <a href="/archive">Archive</a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <!-- matrials data -->
      <main class="container pt-5">
        <table
          class="table table-bordered border-dark"
          style="font-weight: bold; font-size: larger"
        >
          <thead
            class="table table-dark"
            style="font-weight: bold; font-size: larger"
          >
            <tr>
              <th>CourseName</th>
              <th>Code</th>
              <th>Level</th>
              <th>Hours</th>
              <th>Semester</th>
              <th>Total Markes</th>
            </tr>
          </thead>
          <tbody style="font-weight: bold; font-size: large">
            <% matrialData.forEach(function(course) { %>
            <tr>
              <th><%= course.materialName %></th>
              <th><%= course.code %></th>
              <th><%= course.level %></th>
              <th><%= course.hours %></th>
              <th><%= course.semester %></th>
              <th><%= course.total %></th>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </main>
      <!-- matrials data -->
      <!-- /#wrapper -->

      <!-- Menu Toggle Script -->
      <script>
        let btn = document.getElementById("iconToggle");
        let sidebar = document.getElementById("wrapper");
        btn.addEventListener("click", () => {
          sidebar.classList.toggle("toggled");
        });
      </script>
    </div>
    <!-- js -->
    <%- include('../../../bootstrab/js.ejs') %>
  </body>
</html>
